/**
 * 
 * @authors ZiQiangWang (814120507@qq.com)
 * @date    2017-07-07 16:27:42
 * @version $Id$
 */

@import 'variable.less';

#work {
    transition: margin-top @headerDuration;
    position: relative;
    margin-bottom: 200px;
}
.article-abstract {
    
    margin-bottom: 20px;
    .container {
        margin: 0 auto 1.5em auto;
        padding: 0 1.25em;
        max-width: 960px;
        
        h2 {
            font-size: 2.4em;
            a {
                color: #69606b;
                transition: color .25s;
            }

            a:hover {
                color: #444;
            }
        }

        p {
            font-size: 1.35em;
            word-break: break-word;
        }

        .info {
            font-size: .8em;
            span {
                padding-right: 20px;
            }
            span:before {
                padding-right: 8px;
            }
        }
    }


}

.article-navbar {
    background: #444;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
}

.article-detail {

    @media screen and (max-width: 535px) {
        padding: 10px 10px;
    }
    @media screen and (min-width: 535px) and (max-width: 727px){
        padding: 10px 80px;
    }
    @media screen and (min-width: 727px){
        padding: 10px 120px;
    }
    
    .title {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align:center;
        font-size: 2em;
        font-weight: bold;
    }
    .info {
        text-align:center;
        font-size: .8em;
        padding-bottom: 10px;
        border-bottom: thin solid lightgray;
        span:first-child {
            margin-right: 30px;
        }
        @media screen and (min-width: 727px){
            display: flex;
            justify-content: flex-end;
        }
    }
}
