/**
 * 
 * @authors ZiQiangWang (814120507@qq.com)
 * @date    2017-07-07 16:27:42
 * @version $Id$
 */

@import 'variable.less';

#work {
    transition: margin-top @headerDuration;
    position: relative;
}
.article-abstract {
    
    margin-bottom: 20px;

    .container {
        margin: 0 auto 1.5em auto;
        padding: 0 1.25em;
        max-width: 960px;
    }

    h2 {
        font-size: 2.6em;
    }

    p {
        font-size: 1.35em;
    }
}
