/**
 * @authors ZiQiangWang (814120507@qq.com)
 * @date    2017-07-12 17:19:14
 */

@import 'variable.less';

.sidenav {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: all .2s;
  font-family: "Segoe UI",Arial,Helvetica,"Microsoft Jhenghei","Hiragino Sans GB","WenQuanYi Zen Hei","Microsoft Yahei",SimHei,STHeiti,"WenQuanYi Micro Hei",sans-serif;
  
  li:first-child {
    font-size: 16px;
    font-style: italic;
  }

  li {
    list-style-type: none;
    border-bottom: thin solid lightgray;
    padding: 5px 20px;
    cursor: pointer;
    color: #69606b;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  li:hover {
    background-color: rgba(212,74,108,0.15);
  }
}
